<ion-header>
  <ion-toolbar>
    <ion-title>
      Qpi Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class = "bg">



<div style="padding-top:50px;">

    <ion-item>
        <ion-textarea disabled spellcheck="false" color="white" placeholder="Enter Grade:"></ion-textarea>
    </ion-item>
              
</div>





<div style="padding-top:50px;">
  <ion-grid style="width:87%">
    <ion-row >
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" >A</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton">B+</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton">B</ion-button>
        </ion-col>
    </ion-row>
    <ion-row >
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton">C+</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton">C</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton">D</ion-button>
        </ion-col>
    </ion-row>
    <ion-row >
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton">F/FD</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton">clr</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="danger" class="circlebutton">=</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>






</div>





</ion-content>
