ion-content{
    --ion-background-color:#353535;
}

.circlebutton{
    width:100px;
    height:100px;
}

.whiteText{
    color:white;
}

ion-item{
    --ion-color-primary: #ffffff;
    --border-radius: 0;
}

ion-toolbar{
    --background: #222428;
    --color: white;
}
