ion-content{
    --ion-background-color:#222222;
}

.circlebutton{
    width:100px;
    height:100px;
    font-weight:bold;
}

.whiteText{
    color:white;
}

ion-item{
    --ion-color-primary: #ffffff;
    --border-radius: 0;
}

ion-toolbar{
    --background: #222428;
    --color: white;
}
.subtitleFont{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 1em;
  }

