<ion-header>
  <ion-toolbar>
    <ion-title>
      Qpi Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class = "bg">



<div style="padding-top:15px;">
    <ion-label color="white" style="margin-left: 5%;">Tap the Grades</ion-label>
    <ion-item style="padding-top: 15px;">
        <ion-label disabled text-center color="white" style="display:inline;font-size: 6em;">{{ all | number : '1.2-2'}}</ion-label>
    </ion-item>
</div>





<div style="padding-top:15px;padding-bottom: 15px;margin-left: auto;text-align: center;">
  <ion-grid >
    <ion-row >
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" (click)="btnclicked(buttonA)" >A</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" (click)="btnclicked(buttonBplus)">B+</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" (click)="btnclicked(buttonB)">B</ion-button>
        </ion-col>
    </ion-row>
    <ion-row >
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" (click)="btnclicked(buttonCplus)">C+</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" (click)="btnclicked(buttonC)">C</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" (click)="btnclicked(buttonD)">D</ion-button>
        </ion-col>
    </ion-row>
    <ion-row >
        <ion-col>
            <ion-button shape="round" color="light" class="circlebutton" (click)="btnclicked(buttonF)">F/FD</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="danger" class="circlebutton"(click)="btnclear()">CLR</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>






</div>





</ion-content>

<script src="assets/scripts/jquery-3.3.1.min.js"></script>
<script>


</script>