<ion-header>
  <ion-toolbar>
    <ion-title>
      About the Developer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="/assets/img/josh.png" style="height:50%;width:50%;" class="center">
        <ion-card-header>
          <ion-card-subtitle>Developer</ion-card-subtitle>
          <ion-card-title role="heading">Joshua Lintag</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label class="titleFont">Hello internet peoplez <br></ion-label>
        </ion-card-content>
      </ion-card>
      

</ion-content>
