<ion-header>
  <ion-toolbar>
    <ion-title>
      About the Developer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div> 
        <img src="/assets/img/josh.png" style="height:50%;width:55%;" class="center">
      </div>
      <div style="padding-top: 10px;margin-left: auto;text-align: center;">
       
        <ion-label class="titleFont">Josh Lintag<br></ion-label>
      </div>
      <div style="padding-top: 10px;margin-left: 10px;margin-right: 10px;text-align: center;">
          <ion-label class="subtitleFont">This guy owns all of Microsoft. He is also a 80% shareholder of Apple. His boi Bill Gates also works for his company.</ion-label>
      </div>



      <div style="padding-top:15px;padding-bottom: 15px;margin-left: auto;text-align: center;">
          <ion-grid >
            <ion-row >
                <ion-col>
                  <a class="item" href="#" onclick="window.open('https://www.instagram.com/josh.lintag', '_self','location=yes'); return false;">
                  <ion-button shape="round" color="dark" class="circlebutton">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </ion-button>
                  </a>
                </ion-col>
                <ion-col>
                  <a class="item" href="#" onclick="window.open('https://www.facebook.com/Joshsaurus', '_self','location=yes'); return false;">
                  <ion-button shape="round" color="dark" class="circlebutton">
                      <ion-icon name="logo-facebook"></ion-icon>
                  </ion-button>
                  </a>
                </ion-col>
                <ion-col>
                  <a class="item" href="#" onclick="window.open('https://www.linkedin.com/in/joshua-lintag-81b4a4135/', '_self','location=yes'); return false;">
                  <ion-button shape="round" color="dark" class="circlebutton">
                      <ion-icon name="logo-linkedin"></ion-icon>
                  </ion-button>
                  </a>
                </ion-col>
            </ion-row>
          </ion-grid>
        
        
        
        
        
        
        </div>
        

</ion-content>
