<ion-header>
  <ion-toolbar>
    <ion-title>
      About the Developer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>the guy</ion-card-subtitle>
          <ion-card-title>Joshua Lintag</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
      



      <ion-card>

          <img src="/assets/1.jpg">


          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>

</ion-content>
